<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings/>
  <!-- use this section to specify connection string, such as SQL Connection Strings -->
  <connectionStrings>
    <add name="LocalPubs" connectionString="Server=(local);Integrated Security=True;Database=pubs;Persist Security Info=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <caching>

      <!-- sqlCacheDependency Attributes:
                enabled="[true|false]" - Enable or disable SQL cache dependency polling
                pollTime="poll time in milliseconds. Minimum is 500 ms."

              Child nodes:
                <databases>                             Database entries
                    <add                                Add a database entry
                        name="string"                   Name to identify this database entry
                        connectionStringName="string"   Connection string name to the SQL database
                        pollTime="int"                  (optional) Poll time in milliseconds

                    <remove                             Remove a database entry
                        name="string" />                Name of database entry to remove
                    <clear/>                            Remove all database entries
                </databases>

              Example:
                <databases>
                    <add name="Northwind_Local" connectionStringName="LocalNorthwind" />
                    <remove name="Pubs_Local">
                <databases>
            -->

      <!-- for recipe 14.10 written by 14.15-->
      <sqlCacheDependency enabled="true" pollTime="60000">
        <databases>
          <add name="pubs" connectionStringName="LocalPubs" pollTime="9000000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    
  </system.web>

</configuration>
