body{
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:0.75em;
}
#wrapper{
	margin:0 auto;
}

#header{
	background:#666;
	padding:5px;
}

#header a{
	text-decoration:none;
	padding:0 15px;
	color:#FFF;
}

#left_column{
	background:#99CC33;
	float:left;
	width:200px;
	overflow:hidden;
	display:block;
}

.left_column{
	background:#99CC33;
	float:left;
	width:170px;
	overflow:hidden;
	padding:15px;
}
.block1{
	border:3px solid #FFF;
	background:#0F0;
}

#right_column{
	background:#99CC33;
	float:right;
	width:200px;
	overflow:hidden;
	z-index:99;
}
.right_column{
	background:#99CC33;
	float:right;
	width:170px;
	overflow:hidden;
	z-index:99;
	padding:15px;
}

#center_column{
	overflow:hidden;
	background:#ccc;/*
	height:1%;
	*/
}
.center_column{
	padding:15px;
	background:#ccc;/*
	height:1%;
	overflow:hidden;*/
}

.blockdivider{
	padding:15px;
	background:#666;
}

.accord_toggle{
	text-decoration:none;
	color:#FFF;
}