<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="TestService">
        <endpoint address="http://localhost:5665/host" binding="basicHttpBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSemantic.Tests.Common.ISessionfullBinding"/>
        <endpoint address="http://localhost:5665/host" binding="wsHttpBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSemantic.Tests.Common.ISessionfullBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>