<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Welcome to the Services Software Factory Guidance Package</title>
</head>

<body style="margin:0px">
<table width="100%"  style="background-color:#0077D5">
<tr><td>
<img src="header.gif" align="right" />
</td></tr>
</table>

<div id="nstext" style="margin:5px"  valign="bottom">
<h1 style="font-family:tahoma; font-weight:bold; font-size:13px">    Welcome to the Services Software Factory Guidance Package</h1>
    <p class="ppBodyText" style="margin: 5pt 0in 0pt 0.5in; text-indent: 0in; font-weight: normal; font-size: 11px; font-family: tahoma; list-style-type: disc;">
        <span style="font-size: 10pt; font-family: Arial">
</span></p>
    <p class="ppBulletList" style="margin: 5pt 0in 0pt 1in; font-weight: normal; font-size: 11px; font-family: tahoma; list-style-type: disc;">
        <span style="font-size: 10pt; font-family: Arial"></span></p>
<div  style="font-family:tahoma; font-weight:normal; font-size:11px; list-style-type: disc;">
    You can use the Services Software Factory guidance packages to automate services-based development activities that you would otherwise have to manually perform. 
    This guidance package include recipes and templates to generate Visual Studio artifacts such as DSL models, projects, classes, and code. These artifacts are consistent with the guidance contained in the Service Factory.</div>
</div>
</body>

</html>