<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="CSharpRecipesConfiguration"
        type="CSharpRecipes.Config.CSharpRecipesConfigurationSection,CSharpRecipes"
        allowDefinition="Everywhere"
        allowExeDefinition="MachineToApplication"
        restartOnExternalChanges="true" />
    </configSections>
    <connectionStrings>
        <add name="CSharpRecipes.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=|DataDirectory|\Northwind.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
  <CSharpRecipesConfiguration CurrentEdition="3">
    <Chapters>
      <add Number="1" Title="Language Integrated Query (LINQ)"/>
      <add Number="2" Title="Strings and Characters"/>
      <add Number="3" Title="Classes and Structures"/>
      <add Number="4" Title="Generics"/>
      <add Number="5" Title="Collections"/>
      <add Number="6" Title="Iterators, Partial Types and Partial Methods"/>
      <add Number="7" Title="Exception Handling"/>
      <add Number="8" Title="Diagnostics"/>
      <add Number="9" Title="Delegates, Events, and Functional Programming"/>
      <add Number="10" Title="Regular Expressions"/>
      <add Number="11" Title="Data Structures &amp; Algorithms"/>
      <add Number="12" Title="Filesystem I/O"/>
      <add Number="13" Title="Reflection"/>
      <add Number="14" Title="Web"/>
      <add Number="15" Title="XML"/>
      <add Number="16" Title="Networking"/>
      <add Number="17" Title="Security"/>
      <add Number="18" Title="Threading and Synchronization"/>
      <add Number="19" Title="Toolbox"/>
      <add Number="20" Title="Numbers &amp; Enumerations"/>
    </Chapters>
    <Editions>
      <add Number="1" PublicationYear="2004"/>
      <add Number="2" PublicationYear="2006"/>
      <add Number="3" PublicationYear="2007"/>
    </Editions>
  </CSharpRecipesConfiguration>
</configuration>