<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Wcf.ServiceImplementation.Service1_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Wcf.ServiceImplementation.Service1_Behavior1"
                name="Wcf.ServiceImplementation.Service1">
                <endpoint address="" binding="basicHttpBinding" name="Endpoint1"
                    bindingNamespace="urn:scm" contract="Wcf.ServiceContracts.IServiceContract1" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>