<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
	 Specify which version of the CLR you want loaded. Otherwise MSI will error like this:
		
	 Error 1001. InstallUtilLib.dll: Unknown error.
	-->
	<startup>
		<supportedRuntime version="v2.0.50727" safemode="true"/>
		<requiredRuntime version="v2.0.50727" safemode="true"/>
	</startup>
</configuration>